* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family:"Roboto";
}

.wrapper {
	width: 1200px;
	margin-left:auto;
	margin-right:auto;
}

header {
	padding-top: 30px;
}

.logo {
	display: inline-block;
	vertical-align: top;
	margin-left: auto;
	margin-right: 220px;
}

.logo img {
	display:block;
}

.navigation {
	display: inline-block;
	vertical-align: middle;
}

.link {
	text-decoration: none;
	color: #3D3D3D;
	font-size: 16px;
	margin-right:50px;
	display:inline-block;
}

.active-link {
	padding-bottom: 25px;
	border-bottom: 3px solid #46A358;
}

.last-link {
	margin-right: 0;
}

.login-button {
	display: inline-block;
	vertical-align: top;
	background-color: #46A358;
	border: none;
	width: 100px;
	height: 35px; 
	border-radius: 6px;
	margin-left: 370px;
	margin-right: auto;
	font-size: 16px;
	color: white;
}

.login-button img {
	vertical-align: top;
}

.content {
	background: rgba(245, 245, 245, 0.5);
	width: 1200px;
	margin-left: auto;
	margin-right: auto;

}

.title {
	margin-left: auto;
	margin-top: 0;
	margin-bottom: 0;
	color: rgba(61, 61, 61, 1);
	padding-left: 43px;
	font-weight:500;
}

.tittle-make {
	width: 530px;
	font-size: 70px;
	line-height: 70px;
	color: rgba(61, 61, 61, 1);
	padding-top:  7px;
	padding-left: 40px;
	margin-left: 0;
	margin-top: 0;
	margin-bottom: 0;
}

.tittle-make span {
		color: rgba(70, 163, 88, 1);
	}

.text {
	padding-top: 5px;
	padding-bottom: 44px;
	padding-left: 43px;
	margin-left: auto;
	width: 557px;
	font-size: 14px;
	line-height: 24px;
	color: rgba(114, 114, 114, 1);
}

.link-button {
	display: inline-block;
	margin-top: 0px;
	margin-bottom: 85px;
	margin-left: auto;
	vertical-align: top;
	padding-left: 43px;
	text-decoration: none;
}

.link-button span {
	background-color: #46A358;
	border: none;
	width: 140px;
	height: 40px;
	line-height: 20px;
	border-radius: 6px;
	font-size: 16px;
	color: rgba(255, 255, 255, 1);
	padding: 11px 27px 9px 26px;
	}

.content-inner {
	display: inline-block;
	width: 557px;
	padding-top: 68px;
	vertical-align: top;
}

.plant{
	margin-top: 12px;
	margin-left: 93px;
	margin-right:auto;
}